.income {
    .item {
        .num {
            margin-bottom: 18rpx;
            font-size: 32rpx;
            font-weight: 500;
            color: #210900;
        }
        .name {
            font-size: 20rpx;
            color: #99776B;
        }
    }
}