@font-face {
    font-family: 'fyfont';  /* project id 1577367 */
    src: url('http://at.alicdn.com/t/font_1577367_in4ou380cuo.eot');
    src: url('http://at.alicdn.com/t/font_1577367_in4ou380cuo.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_1577367_in4ou380cuo.woff2') format('woff2'),
    url('http://at.alicdn.com/t/font_1577367_in4ou380cuo.woff') format('woff'),
    url('http://at.alicdn.com/t/font_1577367_in4ou380cuo.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_1577367_in4ou380cuo.svg#fyfont') format('svg');
  }


.fyfont {
    font-family: "fyfont" !important;
    font-size: 28rpx;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cancel::before {
    content: "\e615";
}

.icon-notice::before {
    content: "\e628";
}

.icon-search::before {
    content: "\e643";
}

.icon-up::before {
    content: "\e634";
}

.icon-down::before {
    content: "\e631";
}

.icon-close::before {
    content: "\e605";
}

.icon-down-hollow::before {
    content: "\e632";
}

.icon-right::before {
    content: "\e633";
}